[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.localnet]
p2p_swap = "Fqww93pxMsRRk2V83TpPk2GSwKc64cS8ktpXp7TpHi9"

[programs.devnet]
p2p_swap = "Fqww93pxMsRRk2V83TpPk2GSwKc64cS8ktpXp7TpHi9"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "Devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"
